name: "Lint"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6.0.2"

        - name: "Set up Python"
          uses: actions/setup-python@v6.2.0
          with:
            python-version: "3.11"

        - name: "Install uv"
          uses: astral-sh/setup-uv@v2

        - name: "Install dependencies"
          run: uv sync --extra lint

        - name: "Run ruff"
          run: uv run ruff check .
